body {
	background-color: #111;
	color: #eee;
	font-family: sans-serif;
}

h1 {
	font-size: 32pt;
	margin-block: 16pt;

	text-align: center;
}

nav {
	list-style-type: none;
	margin-bottom: 16pt;

	text-align: center;
}

a:link {
	color: #6666ff;
}
a:visited {
	color: #9151cd;
}
a:active {
	color: #ff4747;
}

p {
	max-width: 960px;
	margin-inline: auto;
}